#infoContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #f0f0f0;
}
.repoContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    background-color: #f0f0f0; gap: 1rem;
}