body, html
{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container
{
    height: 100vh;
}

#infoContainer
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.repoContainer
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 50%;
    max-height: 70vw;
    background-color: rgb(232, 232, 255);
    gap: 1rem;
    overflow-y: scroll;
}


.repoDiv
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    min-width: 25%;
    min-height: 100%;
    align-self: stretch;
}
.repoSectionName
{
    font-size: 3.5rem;
    font-weight: bold;
    align-self: center;
}

.repoStats
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: center;
    width: 50%;
}

.stat
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.statText
{
    font-size: 2rem;
    font-weight: bold;
}